:root {
    --portfolio-image-size: 150px;
}

.CardOuter {}

.CardContainer {
    position: relative;
    margin: 1em;
    border-top: 5px solid var(--green);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: var(--white);
}

.CardContainer:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.CardDecoration {
    position: absolute;
    width: 100%;
    height: 5em;
    background-color: var(--green);
    opacity: 0.1;
}

.CardContent {
    padding: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.CardHeader {
    font-family: "IBM Plex Mono";
    font-size: 28px;
    line-height: 1.5rem;
    min-height: 3rem;
}

.CardDescription {
    font-size: 14px;
    line-height: 18px;
}

.CardMeta {
    font-family: "IBM Plex Mono";
    font-style: italic;
}

.CardGrid {
    width: 100%;
    padding-left: 7.5em;
    padding-right: 7.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.CardRow {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

/* Extra large screens */
@media only screen and (min-width : 1200px) {
    .CardColumn {
        width: 50%;
    }
    .CardContainer {
        margin: 1em;
    }
    .CardImage {}
    .CardText {
        padding-left: 1em;
        width: calc(100% - var(--portfolio-image-size));
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .CardColumn {
        width: 50%;
    }
    .CardContainer {
        margin: 1em;
    }
    .CardImage {}
    .CardText {
        padding-left: 1em;
        width: calc(100% - var(--portfolio-image-size));
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .CardColumn {
        width: 50%;
    }
    .CardContainer {
        margin: 1em;
    }
    .CardImage {}
    .CardText {
        padding-left: 1em;
        width: calc(100% - var(--portfolio-image-size));
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .CardGrid {
        padding-left: 0;
        padding-right: 0;
    }
    .CardRow {
        display: block;
    }
    .CardColumn {
        width: 100%;
    }
    .CardContainer {
        margin: 0em;
    }
    .CardImage {
        display: none !important;
    }
    .CardText {
        padding-left: 0em;
        width: 100%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .CardGrid {
        padding-left: 0;
        padding-right: 0;
    }
    .CardRow {
        display: block;
    }
    .CardColumn {
        width: 100%;
    }
    .CardContainer {
        margin: 0em;
    }
    .CardImage {
        display: none !important;
    }
    .CardText {
        padding-left: 0rem;
        width: 100%;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .CardGrid {
        padding-left: 0;
        padding-right: 0;
    }
    .CardRow {
        display: block;
    }
    .CardColumn {
        width: 100%;
    }
    .CardContainer {
        margin: 0em;
    }
    .CardImage {
        display: none !important;
    }
    .CardText {
        padding-left: 0rem;
        width: 100%;
    }
}
